@tailwind base;
@tailwind components;
@tailwind utilities;

/* rajdhani-300 - latin */
@font-face {
  font-family: 'Rajdhani';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local(''),
       url('./assets/fonts/rajdhani-v10-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('./assets/fonts/rajdhani-v10-latin-300.woff') format('woff'), /* Modern Browsers */
       url('./assets/fonts/rajdhani-v10-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
}

::-moz-selection { /* Code for Firefox */
  color: white;
  background: #dc2626;
}

::selection {
  color: white;
  background: #dc2626;
}

.title {
  @apply text-5xl mb-4 font-nerd;
}

.heading {
  @apply text-2xl mb-1 font-nerd;
}